<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Fizz Buzz inverse</title>
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
  </head>
  <body class='container'>
    <%= yield %>
  </body>
</html>
